<div class="cotainer">
    <mat-toolbar style="display: flex; justify-content: space-between; margin-top: -100px;">
        <div style="text-align: center;">
            <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">FACEMASH Admin Dashboard</span></a>
        </div>
        <div class="rigth">
            <img [src]="avatar_img" width="55px" height="50px" style="border-radius: 50%; border: black; margin-right: 10px;">
            <span style="color:white; margin: 10px;">{{ aid }}</span>
            <span style="color:white; margin: 10px;">{{ name }}</span>
            <a routerLinkActive="active-link" routerLink="/">  
                <span class="hoverspan">| Logout</span>
            </a>
        </div>
    </mat-toolbar>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="card p-4" style="margin-bottom: 20px; height: 50px; border-radius: 30px; background-color: #f0f8ff86;">
        <div style="display: flex; justify-content: space-around;">
            <a routerLink="/"> <span style="color: brown; font-weight: bolder;">Dashboard</span> </a>
            <a routerLink="/"> <span></span> </a>
            <a routerLink="/"><span></span></a>
            <span style="margin-top: -10px;">SETTING</span> 
        </div>
    </div>