.image-container {
    display: flex; /* เปลี่ยนจาก grid เป็น flex */
    flex-wrap: wrap; /* ให้รูปขึ้นบรรทัดใหม่เมื่อครบแถว */
    justify-content: center; /* จัดให้รูปอยู่ตรงกลาง */
    gap: 10px; /* กำหนดระยะห่างระหว่างรูป */
}

.img-thumbnail {
    max-width: 150px; /* ลดขนาดของรูปลงเพื่อให้มีขนาดเล็กลง */
    height: auto; /* ให้รูปปรับขนาดตามอัตราส่วน */
    margin: 5px; /* ลดระยะห่างระหว่างรูป */
}


.custom-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

