.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* จัดการช่องว่างระหว่างรูป */
}

.img-thumbnail {
    width: calc(33.33% - 10px); /* คำนวณขนาดของรูปให้มีขนาดเท่ากันและมีช่องว่างระหว่างรูป */
    margin-bottom: 10px; /* ช่องว่างด้านล่างของรูป */
}


.img-thumbnail {
    max-width: 150px; /* ลดขนาดของรูปลงเพื่อให้มีขนาดเล็กลง */
    height: auto; /* ให้รูปปรับขนาดตามอัตราส่วน */
    margin: 5px; /* ลดระยะห่างระหว่างรูป */
}


.custom-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

