mat-toolbar {
    background: transparent;
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    height: 70px;
    position: fixed;
    z-index: 1;
}
a:hover {
    font-weight: bolder;
    text-shadow: 0 0 30px rgb(0, 255, 34);
}
img:hover {
    filter: brightness(100%);
}
img:not(:hover) {
    filter: brightness(80%);
}
.change {
    border-radius: 50%;
}