<div class="cotainer">
  <mat-toolbar style="display: flex; justify-content: space-between; margin-top: -100px;">
    <div style="text-align: center;">
      <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">FACEMASH</span></a>
    </div>
    <div>
      <img [src]="avatar_img" width="55px" height="50px" style="border-radius: 50%; border: black; margin-right: 10px;">
      <span style="color:white; margin: 10px;">{{ name }}</span>
      <a routerLinkActive="active-link" routerLink="/">  
          <span class="hoverspan">| Logout</span>
      </a>
  </div>
  </mat-toolbar>
</div>

<div class="container" style="margin-top: 100px;">

  <div class="card p-4" style="margin-bottom: 20px; height: 50px; border-radius: 30px; background-color: #f0f8ff86;">
    <div style="display: flex; justify-content: space-around;">
      <a routerLink="/posts"> <span>HOME</span> </a>
      <a routerLink="/topten"> <span>TOP10</span> </a>
      <a routerLink="/graph"><span style="color: brown; font-weight: bolder;">STATISTICS/WEEK</span></a>
      <a [routerLink]="['/main', userId]"><span style="margin-top: -10px;">SETTING</span> </a>
    </div>
  </div>

  <div class=" colorB">
    <h3>Top 10 Images by Points</h3>
    <canvas id="myChart" width="1270px" height="690px"></canvas>
  </div>

</div>